// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "bootstrap";
@import "font-awesome";

body {
  font-family: 'Roboto', sans-serif;
  background-color: #EDEFF0;
}

.wrapper{
  width: 60%;
  max-width: 1140px;
  margin: 0 auto;
}

.custom:before , .custom:after{
  content: " ";
  display: table;
}

.custom:after {
  clear: both;
}

.custom_nav {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  #logo {
    float: left;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 1em;
    font-size: 1.2rem;
    text-decoration: none;
    color: #397CAC;
    background-color:000;
  }
  #buttons {
    float: right;
    a {
      line-height: 60px;
      background-color: #397CAC;
      border-radius: 0.2em;
      color: white;
      padding: .5em 1em;
      text-decoration: none;
      font-weight: 100;
    }
  }
}

.navbar-nav {
  padding-top: 16px;
}
#article {
  background-color: white;
  padding: 2em 5%;
  .article {
    margin: 1em 0;
    padding: 2em 5%;
    .title {
      margin: 0;
      color: #397CAC;
      text-decoration: none;
      font-weight: 100;
      font-size: 1.25em;
    }
  }
}

.article-content {
  background: white;
  border-radius: .5em;
}

.custom-search {
  background-color: #000;
  padding-left: 50px;
}

.clearfix {
  display: inline-block;
}